:root {
    /* Colors */
    --red-color: #DB2422;
    --white-color: #EEEEEE;
    --yellow-color: #FDE200;
    --black-color: #0C0C0C;
    --background-color: #060202;

    /* Fonts */
    --main-font: "Inter", sans-serif;
    --secondary-font: "Oswald", sans-serif;
    --terciary-font: "Martian Mono", monospace;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: var(--secondary-font);
    color: var(--white-color);
}

body {
    background-color: var(--black-color);
}

/* ********** HEADER STYLES ********** */
.header {
    
    font-family: var(--secondary-font);
}

/* This is only for home page */
.header__home {
    position: relative;
    height: 100vh;
    background-image: url("./images/hero-background.jpg");
    background-size: cover;
    background-position: top center;
}

/* This is only for home page */
.header__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5));
    z-index: 1;
}

.navbar {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    z-index: 2;
}

.navbar__logo-image {
    height: 40px;
    width: auto;
}

.navbar__list {
    display: flex;
    list-style: none;
    gap: 24px;
}

.navbar__link {
    text-decoration: none;
    color: var(--white-color);
    letter-spacing: 2px;
    font-weight: 500;
}

.navbar__link:hover {
    /* text-decoration: underline; */
    padding: 4px 8px;
    color: var(--red-color);
    background-color: var(--yellow-color);
}

.header__arrow img {
    height: 24px;
    fill: #DB2422;
}

/* ********** MAIN STYLES: HOME PAGE ********** */

/* *** General styles*** */
.main {
    padding: 24px 48px;
    background-color: var(--black-color);
    margin-bottom: 16px;
}

.main h1 {
    color: var(--red-color);
}

.main p {
    text-align: justify;
    margin-bottom: 20px;
    font-weight: 300;
}

/* *** Home page styles*** */
.about__title{
    margin-bottom: 24px;
}

.about__subtitle {
    margin-bottom: 16px;
}

.about__image {
    float: left;
    width: 300px;
    margin: 0 16px 8px 0;
}

#img-2 {
    margin: 0 0 8px 16px;
    float: right;
}

/* *** Albums page styles*** */
.section__discography-container h1{
    text-align: center;
    margin-bottom: 20px;
}

.section__discography {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 36px;
}

.section__album-container {
    flex: 1 1 21%;
    max-width: 16%;
    min-width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 4px;
}

.section__album-container img {
    width: 100%;
    /* aspect-ratio: 1 / 1; */
    object-fit: cover;
    border-radius: 4px;
    height: auto;
}


/* ********** FOOTER STYLES ********** */

footer {
    background-color: var(--red-color);
    padding: 32px 32px;
    max-height: 270px;
    color: var(--black-color);
}

.footer img {
    height: 150px;
    float: right;
}

.footer__navbar {
    float: left;
    width: 25%;
}

.footer p {
    font-size: 7px;
    letter-spacing: 3px;
}

.footer p, .footer>p>a {
    clear: both;
    text-align: center;
    color: var(--black-color);
}

.footer__navbar__list {
    max-height: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    gap: 12px;
}

.footer-nav-items {
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 12px;
    color: var(--black-color);
}
